.hover-entity {
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}
.hover-entity--small {
  padding: 2px;
}
.hover-entity--medium {
  padding: 4px;
}
.hover-entity--large {
  padding: 12px;
}